.gradient-button {
    background: linear-gradient(to right, #e74694, #9061f9 );
    color: white;
    border: none;
    padding: 15px 23px;
    border-radius: 25px;
    transition: box-shadow 0.3s ease; /* Add a subtle shadow effect on hover */
  }
  
  /* .gradient-button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  } */
  
  .outline-button{
    border-image: linear-gradient(to right, darkblue, darkorchid) 1;
    border-width: 2px;
    border-style: solid;
    padding: 15px 23px;
    background-color: transparent;
    color: whitesmoke;
    border-radius: 25px !important;

  }

  .green-font{
    color:rgb(22 242 179) !important
  }
  .pink-font{
    color: rgb(236 72 153) !important;
  }

  .icon-link{
    color: rgb(236 72 153) !important;
    margin-left: 25px;
    transition: transform 0.2s ease-in-out; 
    
  }
  .icon-link:hover {
    transform: scale(1.25);
    
  }